include         /etc/ldap/schema/core.schema
include         /etc/ldap/schema/cosine.schema
include         /etc/ldap/schema/inetorgperson.schema
include         /etc/ldap/schema/nis.schema
include         /etc/ldap/schema/openssh-ldap.schema
include         /etc/ldap/schema/vsh-access-control.schema
include         /etc/ldap/schema/vsh-messenger.schema
include         /etc/ldap/acl.conf

pidfile         /var/run/slapd/slapd.pid

argsfile        /var/run/slapd/slapd.args

loglevel        none

modulepath      /usr/lib/ldap
moduleload      back_mdb.la

database        mdb
suffix          "{{ openldap_server_basedn }}"
rootdn          "{{ openldap_server_rootdn }}"
rootpw          {{ root_password.stdout }}

# This directory has to be created and would contain the ldap database.
directory       /var/lib/ldap/{{ openldap_server_domain_name }}/

index objectClass                       eq,pres
index ou,cn,mail,surname,givenname      eq,pres,sub
index uidNumber,gidNumber,loginShell    eq,pres
index uid,memberUid                     eq,pres,sub
index nisMapName,nisMapEntry            eq,pres,sub
